* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app {
  max-width: 1440px;
  margin: 0 auto;
}
body {
  background-color: #212122;
}

.active {
  background-color: brown;
  color: white;
  border-bottom-color: black;
}
nav {
  background-color: aqua;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  /* gap: 30px; */
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 20px 30px;
  display: inline-block;
  transition: 0.2s ease;
  border-bottom: 3px solid transparent;
}
nav ul li a:hover {
  background-color: red;
  color: white;
}

footer {
  background-color: grey;
  padding: 30px;
}

.notFound {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  flex-direction: column;
}

form {
  background-color: white;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
.inputs {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, calc(50% - 20px));
  margin: 10px 0;
}
.table {
  background-color: white;
}
.sliderBox {
  background-color: red;
  padding: 20px 50px;
}
.sliderItem {
  padding: 20px;
  background-color: grey;
}

.activeBtn {
  background-color: red;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.498);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingClose {
  display: none;
}

.getApi table  {
  margin: 0 auto;
  background-color: white;
  border-collapse: collapse;
}
.getApi table th,  .getApi table td {
  padding: 10px;
}